* {
  margin: 0;
}

#container {
  position: relative;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

#btn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.chord-btn {
  height: 5rem;
  width: 5rem;
  margin: 1rem;
  border-radius: 10px;
}

.chord-btn:hover {
  background-color: aqua;
}

.chord-btn-q {
  background-color: green;
  color: #fff;
}

.chord-btn-q:hover {
  background-color: #03fa18;
}

.chord-btn-w {
  background-color: red;
}

.chord-btn-w:hover {
  background-color: rgb(250, 81, 81);
}

.chord-btn-e {
  background-color: yellow;
}

.chord-btn-e:hover {
  background-color: rgb(255, 200, 98);
}

.chord-btn-r {
  background-color: blue;
}

.chord-btn-r:hover {
  background-color: aliceblue;
}

.chord-btn-t {
  background-color: orange;
}

.chord-btn-t:hover {
  background-color: rgb(247, 183, 66);
}

.chord-btn-y {
  background-color: purple;
}

.chord-btn-y:hover {
  background-color: plum;
}

/* Starfall css */
/* add gloweffect to stars */

.falling-star {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  animation: starfall 3s linear infinite;
  margin: 10px;
  overflow: hidden;
}

@keyframes starfall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

/* Ideas: 
Could make stars glow in different colors on keypress */
